{% extends 'store/main.html' %} 

{% block content %} 

{% if messages %} 

{% for message in messages %} 

{% if message.tags == "success" %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    &times;
  </button>
  {{message.message}}
</div>
{% endif %} 

{% endfor %} 

{% endif %}

<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    <img class="thumbnail" src="{{product.imageURL}}" />
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr />

      <button
        data-product="{{product.id}}"
        data-action="add"
        class="btn btn-outline-secondary add-btn update-cart"
      >
        Add to Cart
      </button>
      <a class="btn btn-outline-success" href="#">View</a>
      <h4 style="display: block; float: right">
        <strong>${{product.price|floatformat:2}}</strong>
      </h4>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
